/*
 * SBC314-T2080 Board Device Tree Source
 *
 * Adapted from t1080PCIe devicetree sources
 *
 * Copyright 2014 Freescale Semiconductor Inc.
 * Copyright 2017 Abaco Systems Ltd.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *	 notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *	 notice, this list of conditions and the following disclaimer in the
 *	 documentation and/or other materials provided with the distribution.
 *     * Neither the name of Freescale Semiconductor nor the
 *	 names of its contributors may be used to endorse or promote products
 *	 derived from this software without specific prior written permission.
 *
 *
 * ALTERNATIVELY, this software may be distributed under the terms of the
 * GNU General Public License ("GPL") as published by the Free Software
 * Foundation, either version 2 of that License or (at your option) any
 * later version.
 *
 * THIS SOFTWARE IS PROVIDED BY Freescale Semiconductor "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL Freescale Semiconductor BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/include/ "sbc314-t2081si-pre.dtsi"
/include/ "sbc314-tx.dtsi"
/include/ "ppc11a-localbus-t2081.dtsi"

/ {
	model = "abaco,SBC314-T2081";
	compatible = "abaco,SBC314-T2081";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&mpic>;

	rio: rapidio@ffe0c0000 {
		reg = <0xf 0xfe0c0000 0 0x11000>;

		port1 {
			ranges = <0 0 0xc 0x20000000 0 0x10000000>;
		};
		port2 {
			ranges = <0 0 0xc 0x30000000 0 0x10000000>;
		};
	};

	fsl,dpaa {
		compatible = "fsl,t2080-dpaa", "fsl,dpaa";
		ethernet@0 {
			compatible = "fsl,t2080-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet0>;
		};
		ethernet@1 {
			compatible = "fsl,t2080-dpa-ethernet", "fsl,dpa-ethernet";
			fsl,fman-mac = <&enet1>;
		};
	};


	pci2: pcie@ffe260000 {
		reg = <0xf 0xfe260000 0 0x10000>;
		ranges = <0x02000000 0 0xc0000000 0xc 0x00000000 0x0 0x40000000
			  0x01000000 0 0x00000000 0xf 0xf8000000 0x0 0x00010000>;
		pcie@0 {
			ranges = <0x02000000 0 0xc0000000
				  0x02000000 0 0xc0000000
				  0 0x40000000

				  0x01000000 0 0x00000000
				  0x01000000 0 0x00000000
				  0 0x00010000>;
		};
	};

	pci3: pcie@ffe270000 {
		reg = <0xf 0xfe270000 0 0x10000>;
		ranges = <0x02000000 0x0 0xc0000000 0xc 0x40000000 0x0 0x20000000
			  0x01000000 0x0 0x00000000 0xf 0xf8010000 0x0 0x00010000>;
		pcie@0 {
			ranges = <0x02000000 0 0xc0000000
				  0x02000000 0 0xc0000000
				  0 0x10000000

				  0x01000000 0 0x00000000
				  0x01000000 0 0x00000000
				  0 0x00010000>;
		};
	};
};

&soc {
	fman0: fman@400000 {
		rcpm-wakeup = <&rcpm 0x00000008>;

		enet0: ethernet@e4000 {
			phy-handle = <&phy_rgmii_0>;
			phy-connection-type = "rgmii";
			rcpm-wakeup = <&rcpm 0x10000000>;	
		};

		enet1: ethernet@f2000 {
			phy-handle = <&phy_rgmii_1>;
			phy-connection-type = "rgmii";
			cell-index = <3>;
			compatible = "fsl,fman-memac";
			reg = <0xf2000 0x1000>;
			fsl,port-handles = <&fman0_rx9 &fman0_tx9>;
			rcpm-wakeup = <&rcpm 0x08000000>;
		};

		fman0_rx9: port@91000 {
			cell-index = <3>;
			compatible = "fsl,fman-port-1g-rx";
			reg = <0x91000 0x1000>;
		};

		fman0_tx9: port@b1000 {
			cell-index = <3>;
			compatible = "fsl,fman-port-1g-tx";
			reg = <0xb1000 0x1000>;
			fsl,qman-channel-id = <0x801>;
			};

		mdio@f3000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "fsl,fman-memac-mdio";
			reg = <0xf3000 0x1000>;
		};

		mdio0: mdio@fc000 {
			phy_rgmii_0: ethernet-phy@00 {
				reg = <0x00>;
			};
			phy_rgmii_1: ethernet-phy@01 {
				reg = <0x01>;
			};
		};
	};
};

/include/ "sbc314-tx.dtsi"
/include/ "sbc314-t2080si-post.dtsi"
/include/ "qoriq-dpaa-res3.dtsi"
/include/ "qoriq-qman-ceetm0.dtsi"
